{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})"{{/if}}>
    <div class="vertical animated bounceInDown">
        <div id="site-head-content" class="inner">

            {{#if @site.logo}}<a id="blog-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@site.title}}</h1>
            <h2 class="blog-description">{{@site.description}}</h2>
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}</span>
            <p class="post-meta-reading-time">{{reading_time}}</p>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            {{#if feature_image}}
            <a class="post-feature-image-link" href={{url}}>
                <img class="post-feature-image"
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    src="{{img_url feature_image size="m"}}"
                    sizes="(max-width: 1000px) 400px, 700px"
                    alt="{{title}}"
                />
            </a>
            {{/if}}
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination }}
</main>
